<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="MyCon" connectionString="Data Source=LAPTOP-NNLG5F44\JAYANT;Initial Catalog=DatabaseDemo2;Integrated Security=True" />
    <add name="ASPDemoConnectionString" connectionString="Data Source=LAPTOP-NNLG5F44\JAYANT;Initial Catalog=ASPDemo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
